<h3>Liste des utilisateurs</h3>
<%= link_to 'Nouvel Utilisateur', new_user_path, class: 'btn btn-default'%>
<br />
<table class="table table-striped text-center table-bordered text-center table-hover">
	<thead>
		<tr>
			<th>Avatar : </th>
			<th>Login :</th>
			<th>Statut :</th>
			<th>Edition :</th>
		</tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>
	<tr>
		<%= render user%>
	</tr>
	<% end %>
</table>
<%= will_paginate %>
