<p><%= link_to 'Nouvel Utilisateur', new_user_path, class: 'btn btn-default'%>
</p>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong>Liste des Utilisateurs</strong>
	</div>
	<div class="panel-body">
		<table class="table table-bordered text-center table-hover table-striped">
			<thead>
				<tr>
					<th>Avatar</th>
					<th>Login</th>
					<th>Statut</th>
					<th>Edition</th>
				</tr>
			<tbody>
			<% @users.each do |user| %>
				<%= render user%>
			</tr>
			<% end %>
			</tbody>
		</table>
		<div class="text-center">
			<%= will_paginate %>
		</div>
	</div>
</div>	
