<h3>Liste des Clients</h3>
<div class="panel">
<div class="panel-header">
<%= link_to 'Nouveau Client', new_client_path, class: 'btn btn-default'%>
</div>
	<table class="table table-striped text-center">
  		<% @clients.each do |client| %>
  		<tr>
			<%= render client%>
		</tr>
  		<% end %>

	</table>
		<div class="panel-footer">
		<%= will_paginate %>
		</div>
</div>
