<p><%= link_to 'Nouveau Client', new_client_path, class: 'btn btn-default'%></p>
</p><div class="panel panel-default">
	<div class="panel-heading">
		<strong>Liste des Clients</strong>
	</div>
	<div class="panel-body">
		<table class="table table-striped text-center table-bordered table-hover">
			<thead>
				<th>Nom du client</th>
				<th>Adresse client</th>
				<th>Nombre de contacts</th>
			</thead>
			<tbody>
		  		<% @clients.each do |client| %>
					<%= render client%>
		  		<% end %>
			</tbody>
		</table>
		<div class="text-center">
			<%= will_paginate %>
		</div>
	</div>
</div>
