<h1>Welcome#index</h1>
<p>Welcome to Caprinae, your project management tool</p>

voir les utilisateurs :
<%= link_to 'Utilisateurs', controller: 'users'%>
<%= link_to 'Roles utilisateurs', controller: 'roles'%>
