<div class="nested-fields pull-left mleft">
	<p>
	<%= link_to_remove_association '<span class="glyphicon glyphicon-remove"></span>'.html_safe, f, class: "btn btn-danger" %>
			<%= f.hidden_field :project_id, :value => @project.id%>
			</p>
</div>
