<div class=" clearfix">
	<div class="panel panel-info">
		<div class='panel-heading'>
			<strong>Travaux effectués:</strong>
		</div>
		<div class="panel-body">
			<%= f.fields_for :tasks do |t| %>
				<% render 'projects/forms/task_fields', :f => t %>
			<% end %>
			<p class="text-left">
				<%= link_to_add_association '<span class="glyphicon glyphicon-plus"></span>'.html_safe,
				f,
				:tasks,
				class: "btn btn-success",
				onclick: "markForRunningCrea();",
				:partial => '/projects/forms/task_fields'%>
			</p>
		</div>
		<div class='panel-heading'>
			<strong>Retours clients:</strong>
		</div>
		<div class="panel-body">
			<%= f.fields_for :feedbacks do |feed| %>
			<% render 'projects/forms/feedback_fields', :f => feed %>
			<% end %>
			<p class="text-left">
				<%= link_to_add_association '<span class="glyphicon glyphicon-plus"></span>'.html_safe,
				f,
				:feedbacks,
				class: "btn btn-success",
				onclick: "markForRunningCrea();",
				:partial => '/projects/forms/feedback_fields'%>
			</p>
		</div>
	</div>
</div>
