<h3>Liste des utilisateurs</h3>
<div class="panel">
<div class="panel-header">
<%= link_to 'Nouveau Projet', new_project_path, class: 'btn btn-default'%>
</div>
	<table class="table table-striped text-center">
  		<% @projects.each do |project| %>
  		<tr>
			<%= render project%>
		</tr>
  		<% end %>

	</table>
		<div class="panel-footer">
		<%= will_paginate %>
		</div>
</div>
