@import "bootstrap-sprockets";
@import "bootstrap";


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

#logo img, #logo span {
    vertical-align: bottom;
}

.checkbox {
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* body */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* error messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.navbar-inverse {
  background-color: #7eae00;
  border-color: #7eae00;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}


.table th {
  text-align: center;
}

.pagination {
  align: center;
}
