@import "bootstrap-sprockets";
@import "bootstrap";
@import 'fullcalendar.print';

@import "bootstrap/variables";
@import "bootstrap/mixins";

@include make-grid(sm);
@include make-grid(md);
@include make-grid(lg);

@import "theme.css";
.clearfix{font-size:XX-small}
td {
  font-size: X-small
}

@media print {
  body, html, #wrapper {
    width: 100%;
  }
  div {
    overflow: visible !important;
  }

}