<div class="nested-fields">
	<table class="table table-striped table-bordered">
		<tr>
			<td> <%= f.label :nom %> </td>
			<td> <%= f.text_field :name, class: "form-control", placeholder: 'Nom du produit'%> </td>
		</tr>
		<tr>
			<td><label>Quantité</label></td>
			<td> <%= f.number_field :quantity, class: "form-control", placeholder: 'Quantité'%> </td>
		</tr>
	</table>
	<p class="text-left">
	</p>
</div>
